<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Page not found</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio of Denniel Luis S. Sadian">
    <meta name="keywords" content="Denniel, Luis, Saway, Sadian, Python, Scripts, Games, GUI">
    <meta name="author" content="Denniel Luis Saway Sadian">
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
    <script rel="script" src="{% static 'jquery.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body {
        background: url("{% static 'blog/body.png' %}") no-repeat fixed;
        background-size: cover;
    }

    #large-nav {
        background: url("{% static 'blog/header.png' %}") no-repeat fixed;
        background-size: cover;
    }

    #my-form {
        float: right;
        padding: 0px 5px 0px 0px;
        width: 35%;
    }

    @media (max-width:600px) {
        #my-form {
            width: 80%;
        }
    }
</style>

<body class="w3-black">

    <nav id="large-nav" class="w3- w3-bar w3-large w3-border-gray w3-bottombar w3-animate-top">
        <button class="w3-button w3-hide-large w3-hide-medium w3-left w3-large w3-text-white" onclick="$('#small-nav').slideToggle()">
            <i class="fa fa-bars"></i>
        </button>
        <div class="w3-content">
            <a href="/" class="w3-bar-item w3-button w3-hide-small">
                <b>
                    <i class="fa fa-coffee"></i> Portfolio</b>
            </a>
            <a href="/blog" class="w3-bar-item w3-button w3-hide-small">
                <b>
                    <i class="fa fa-book"></i> Blog</b>
            </a>
            <a href="/about" class="w3-bar-item w3-button w3-hide-small">
                <b>
                    <i class="fa fa-info-circle"></i> About</b>
            </a>
            <a href="/admin" class="w3-bar-item w3-button w3-hide-small">
                <b>
                    <i class="fa fa-gear"></i> Manage</b>
            </a>
            <form id="my-form" action="{% url 'blog:index' %}#list" method="get" class="w3-bar-item">
                {% csrf_token %}
                <input name="q" type="search" class="w3-input w3-hover-light-gray w3-light-white
            w3-col s10" placeholder="Search article..." value="{{ searched }}" style="border:0px; padding:3px; margin:4.5px 0px 4.5px 0px;
                          border-radius:32px 0px 0px 32px" required/>
                <button type="submit" class="w3-button w3-blue w3-hover-purple w3-col s2" style="padding:3px; margin:4.5px 0px 4.5px 0px;
                           border-radius:0px 32px 32px 0px">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <div id="small-nav" class="w3-bar w3-hide-large w3-hide-medium" style="display:none">
            <a href="/" class="w3-bar-item w3-button w3-mobile w3-left-align">
                <b>
                    <i class="fa fa-coffee"></i> Portfolio</b>
            </a>
            <a href="/blog" class="w3-bar-item w3-button w3-mobile w3-left-align">
                <b>
                    <i class="fa fa-book"></i> Blog</b>
            </a>
            <a href="/about" class="w3-bar-item w3-button w3-mobile w3-left-align">
                <b>
                    <i class="fa fa-info-circle"></i> About Me</b>
            </a>
            <a href="/admin" class="w3-bar-item w3-button w3-mobile w3-left-align">
                <b>
                    <i class="fa fa-gear"></i> Manage</b>
            </a>
        </div>
    </nav>

    <header class="w3-container w3-center">
        <div class="w3-content">
            <div class="w3-one w3-margin w3-row">
                <div class="w3-col l6 m5 w3-animate-top">
                    <h1 style="font-size:100px; text-shadow:3px 3px 5px #f44336">404</h1>
                    <h3>The page you requested was not found.</h3>
                </div>
                <div class="w3-col l6 m7 w3-animate-left">
                    <img src="{% static 'images/haha.png' %}" class="w3-image" />
                </div>
            </div>
        </div>
    </header>

</body>

</html>