<nav id="smallArchive" class="w3-sidebar w3-bar-block w3-display-topright w3-text-white w3-animate-right w3-hide-large"
     style="display:none; width:85%; background: linear-gradient(#111111, #9c27b0);">
    <button class="w3-button w3-right w3-hide-large w3-large" onclick="$('#smallArchive').slideToggle()">
        <i class="fa fa-close"></i></button>
    <h3 class="w3-bar-item w3-border-purple w3-bottombar"><i class="fa fa-archive"></i> Blog Archive</h3>
    <div class="writeArchiveHere"></div>
</nav>

<aside id="large-aside" class="w3-container w3-col l3 w3-margin-top w3-hide-medium w3-hide-small">
    <h2><i class="fa fa-archive"></i> Blog Archive</h2>
    <div id="archive" class="writeArchiveHere w3-card-4 w3-white
                             w3-margin-top w3-margin-bottom w3-border-purple w3-bottombar w3-round" style="overflow:auto">
    </div>
</aside>