{% load static %}

<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

<head>
<title>{% block title %}{% endblock %} Code Philosophy</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:image" content="{% block prev_img %}{% endblock %}" />
<meta name="description" content="{% if entry %}{{ entry.preview_content }}{% else %}Micro blog of Denniel Luis Saway Sadian{% endif %}" />
<meta name="keywords" content="Denniel, Luis, Saway, Sadian, Python, Scripts, Games, GUI" />
<meta name="author" content="Denniel Luis Saway Sadian" />
<link rel="stylesheet" href="{% static 'w3.css' %}" />
<link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon" />
<script rel="script" src="{% static 'jquery.min.js' %}"></script>
<script rel="script" src="{% static 'blog/main.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
.entry-image {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
header {
    background: url("{% static 'images/header.png' %}") no-repeat fixed;
    background-size: cover;
}
header div h1 {
    letter-spacing: 10px;
    font-size: 80px;
    line-height: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}
#largeNav {
    background: url("{% static 'images/body.png' %}") no-repeat fixed;
    background-size: cover;
}
@media (max-width: 425px) {
    header div h1 {
        font-size: 50px;
        letter-spacing: 0px;
    }
}
</style>
</head>

<body class="w3-light-gray">

    <nav id="sidebar_small" class="w3-sidebar w3-bar-block w3-card-4 w3-animate-left
w3-hide-large w3-large w3-text-white" style="display:none; width:85%; background: linear-gradient(#111111, #9c27b0);">
        <button class="w3-button w3-hide-large w3-large" onclick="$('#sidebar_small').slideToggle()">
            <i class="fa fa-close"></i>
        </button>
        <form action="{% url 'blog:index' %}" method="get" class="w3-bar-item w3-container w3-border-purple w3-bottombar">
            {% csrf_token %}
            <input name="q" type="text" class="w3-input w3-hover-light-gray w3-light-white
        w3-col s10" placeholder="Search article..." value="{{ searched }}" style="border:0px; border-radius:32px 0px 0px 32px"
                required/>
            <button type="submit" class="w3-button w3-purple w3-hover-light-purple w3-col s2" style="border-radius:0px 32px 32px 0px">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <a href="/" class="w3-bar-item w3-button">
            <b>
                <i class="fa fa-home"></i> Home</b>
        </a>
        <a href="/portfolio" class="w3-bar-item w3-button">
            <b>
                <i class="fa fa-coffee"></i> Portfolio</b>
        </a>
        <button class="w3-bar-item w3-button" onclick="$('#contactModal').slideDown(); $('#sidebar_small').slideToggle()">
            <b>
                <i class="fa fa-send"></i> Contact</b>
        </button>
        <a href="/about" class="w3-bar-item w3-button">
            <b>
                <i class="fa fa-info-circle"></i> About Me</b>
        </a>
    </nav>

    <button class="w3-button w3-hide-large w3-hide-medium w3-left w3-large w3-text-white" onclick="$('#sidebar_small').slideToggle(); $('#smallArchive').slideUp()"
        style="background:none">
        <i class="fa fa-bars"></i>
    </button>
    <button class="w3-bar-item w3-button w3-right w3-text-white w3-large w3-hide-large" onclick="$('#smallArchive').slideToggle(); $('#sidebar_small').slideUp()"
        style="background:none">
        <i class="fa fa-list-ul"></i>
    </button>
    <header class="w3-container w3-purple w3-padding w3-border-gray w3-bottombar">
        <div class="w3-content w3-padding w3-margin-top w3-center">
            <h1>Code Philosophy</h1>
            <p class="w3-large">Welcome to the blog of
                <span class="w3-round-xxlarge w3-hover-yellow w3-hover-text-black w3-purple w3-hover-border-yellow w3-border-purple w3-bottombar w3-leftbar w3-topbar
            w3-rightbar"><a href="{% url 'personal:about' %}" style="text-decoration: none">@dennielsadian</a></span>
            </p>
        </div>
    </header>

    <nav id="largeNav" class="w3-bar w3-black w3-large w3-border-gray w3-bottombar w3-hide-small">
        <div class="w3-content">
            <a href="/" class="w3-bar-item w3-button">
                <b>
                    <i class="fa fa-home"></i> Home</b>
            </a>
            <a href="/portfolio" class="w3-bar-item w3-button">
                <b>
                    <i class="fa fa-coffee"></i> Portfolio</b>
            </a>
            <button class="w3-bar-item w3-button" onclick="$('#contactModal').slideDown()">
                <b>
                    <i class="fa fa-send"></i> Contact</b>
            </button>
            <a href="/about" class="w3-bar-item w3-button">
                <b>
                    <i class="fa fa-info-circle"></i> About</b>
            </a>
            <form action="{% url 'blog:index' %}#list" method="get" class="w3-bar-item" style="float:right; padding:0px 5px 0px 0px; width:35%">
                {% csrf_token %}
                <input name="q" type="search" class="w3-input w3-hover-light-gray w3-light-white
            w3-col s10" placeholder="Search..." value="{{ searched }}" style="border:0px; padding:3px; margin:4.5px 0px 4.5px 0px;
                          border-radius:32px 0px 0px 32px" required/>
                <button type="submit" class="w3-button w3-purple w3-hover-gray w3-col s2" style="padding:3px; margin:4.5px 0px 4.5px 0px;
                           border-radius:0px 32px 32px 0px">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </nav>

    <div class="w3-container w3-row" style="padding:0px; margin: auto">
        {% block content %}{% endblock %} {% include 'blog/archive.html' %}
    </div>

    {% include 'personal/contact_form.html' %} {% include 'personal/footer.html' %}

</body>

</html>