{% extends "blog/base.html" %}

{% load static %}

{% block title %}Search - Home{% endblock %}

{% block prev_img %}
    https://denniel-sadian.github.io/images/icon.png      
{% endblock %}

{% block content %}

<article class="w3-container w3-col l9 w3-margin-top">
    <h2>Found <span class="w3-tag w3-text-purple">{{ how_many_found }}</span></h2>
    <div id="articles">
        {% if entries %}
        {% for i in entries %}
            {% include 'blog/entry_item.html' with entry=i %}
        {% endfor %}
        <div class="w3-center w3-margin-bottom">
            <span class="step-links">
                {% if entries.has_previous %}
                <a href="?page={{ entries.previous_page_number }}&q={{ searched }}" style="text-decoration:none"
                   class="w3-button w3-gray w3-hover-purple w3-round-xxlarge">
                    <i class="fa fa-chevron-left"></i></a>
                {% endif %}
                {% if not entries.has_previous %}
                <span style="text-decoration:none" class="w3-disabled w3-button w3-gray w3-hover-purple w3-round-xxlarge">
                    <i class="fa fa-chevron-left"></i></span>
                {% endif %}
                <span class="current">
                    {{ entries.number }} of {{ entries.paginator.num_pages }}
                </span>
                {% if entries.has_next %}
                <a href="?page={{ entries.next_page_number }}&q={{ searched }}"
                   style="text-decoration:none" class="w3-button w3-gray w3-hover-purple w3-round-xxlarge">
                    <i class="fa fa-chevron-right"></i></a>
                {% endif %}
                {% if not entries.has_next %}
                <span style="text-decoration:none" class="w3-disabled w3-button w3-gray w3-hover-purple w3-round-xxlarge">
                    <i class="fa fa-chevron-right"></i></span>
                {% endif %}
            </span>
        </div>
        {% else %}
        <div class="w3-container w3-card-4 w3-margin-top w3-margin-bottom w3-padding w3-purple w3-row">
            <h1 class="w3-col m8">Sorry, no result found</h1>
            <img src="{% static 'images/haha.png' %}" class="w3-image w3-col m4" width="300"/>
        </div>
        {% endif %}
    </div>
</article>

{% endblock %}