{% extends "personal/base.html" %}

{% load static %}

{% block title %}| About me{% endblock %}

{% block desc %}I am a programmer. I'm not proud of it. I am glad for it.{% endblock %}

{% block content %}

<div class="w3-container w3-margin-top w3-center w3-border-teal w3-bottombar" style="background:url('{% static 'personal/images/binary.PNG' %}');
            background:size:cover; background-position:center; border-radius:4px 32px 0px 0px">
  <img src="{% static 'personal/images/me.jpg' %}" class="face w3-circle w3-image w3-card-4" width="150" style="border:6px solid #009688; position:relative; top: 70px;">
</div>
<div class="w3-container w3-white"
     style="background:url('{% static 'personal/images/article.png' %}') no-repeat fixed;
            border-radius:0px 0px 4px 4px">
  <br/>
  <br/>
  <h1 class="w3-margin-top w3-center">Denniel Luis Saway Sadian</h1>
  
  {% for i in paragraphs %} {{ i.safe_text }} {% endfor %}
  
  <h1 class="w3-center w3-text-purple">My Timeline</h1>
  <div class="timeline">
    {% for i in timelines %}
    <div class="timeline-container {% if i.left %}left{% else %}right{% endif %}">
      <div class="timeline-content w3-border w3-border-purple w3-card-4">
        {% if i.image %}
          <img src="{{ i.image }}" class="w3-image" style="border-radius: 8px 8px 0px 0px"/>
        {% endif %}
        <h2 class="w3-center w3-text-purple"><i class="fa fa-calendar"></i> {{ i.year }}</h2>
        <h4 class="w3-center w3-text-purple"><i class="fa fa-calendar"></i> {{ i.title }}</h4>
        <p>{{ i.desc }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}