{% load static %}
{% load extras %}
{% load personal_extras %}

<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
<title>Denniel Sadian {% block title %}{% endblock %}</title>
<meta name="google-site-verification" content="FTZWO1Qq5IIiyHFq8P2FnK9nLlSAl2Ftgjtc8ppr5Is" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{% block desc %}{% endblock %}" />
<meta property="og:image" content="{% block prev_img %}{% endblock %}" />
<meta name="keywords" content="Denniel, Luis, Saway, Sadian, Python, Scripts, Games, GUI" />
<meta name="author" content="Denniel Luis Saway Sadian" />
<link rel="stylesheet" href="{% static 'w3.css' %}" />
<link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon" />
<script rel="script" src="{% static 'jquery.min.js' %}"></script>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />-->
<style>

</style>
</head>

<body>

</body>

</html>